/*================
    Variables
=================*/





/*==============
    Styling
===============*/
body {
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
    padding: 10rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
